#form, #formdk {
    position: fixed;
    z-index: 10;
    width: 300px;
    border: 1px solid green;
    padding: 20px;
    top:50%;
    right:50%;
    transform: translate(-50%,-50%);
    font-weight: 700;
    background-color: white;
    display: none;
}
#formdk{
    display: none;
}
#form input,#formdk input {
    width: 100%;
    padding: 10px 0;
}
#form p,#formdk p {
    margin-left:250px;
    cursor: pointer;
}