*{
  margin: 0px;
  padding: 0px;
}

#header{
  display: flex;/*thu div lai bang kich thuoc dung cua div*/
  justify-content: space-around; /*chinh cho 3 cai div cach nhau ra*/
  border-bottom: 1px solid gray;
}


.content1{
  display: flex;
}

.content1 .ti-headphone{
  margin-top: 20px;
  font-size: 30px;
}

.content1 #phone_header{
  margin-top: 25px;
  margin-left: 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.content1:hover{
  color: aqua;
  cursor: pointer;
}

.content2{
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 200px;
}

.content3 {
  margin-top: 20px;
}

.content3 ul{
  display: flex;
  list-style-type: none;
}

.content3 ul li {
  margin: 0px 15px;
  font-size: 25px;
}

.content3 ul .gh:hover, .content3 ul .user:hover, .content3 ul .kl:hover {
  color:aqua;
  cursor: pointer;
}

