*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto',sans-serif;
}

.top_menu{
    margin-top: 20px;
}

.top_menu ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: relative;
}

.top_menu > ul > li{
    height: 50px;
    margin: 0px 15px;
    padding: 15px 0px;
    text-align: left;
    
}
.top_menu > ul  > li > a{
    font-size: 14px;
    font-weight: 600;
    color:black;
    text-decoration: none;
    top: 30px;
}
.top_menu  ul  li:hover > a {
    color:aqua;
    cursor: pointer;
}
.top_menu ul li  #ds_phu {
    display: none;
    position: absolute;
}

.top_menu ul li:hover  #ds_phu {
    display: block;
    background-color: white; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) ;
    top: 50px;
}

.top_menu ul li  #ds_phu li a{
    font-size: 14px;
    color:black;
    text-decoration: none;
    top: 30px;
}

.top_menu ul li #ds_phu li{
    padding: 10px 20px;
    cursor: pointer;
}

.top_menu ul li a .ti-angle-right{
    position: absolute;
    right: 10px;
}

.top_menu ul li #ds_phu li:hover > a{
    color: aqua;
}

.top_menu ul li #ds_phu li #ds_phu_phu{
   position: absolute;
   width: 175px;
   background-color: brown;
   margin-left: 130px;
   margin-top: -38px;
   text-align: left;
   display: none;
   top: 38PX;
} 

.top_menu ul li #ds_phu li:hover #ds_phu_phu{
    display: block;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) ;
}

