*{
    margin: 0px;
    padding: 0px;
}
#ctdh{
    background-color: white;
    margin: 100px auto;
    border: 2px solid black;
    border-radius: 10px;
    width: 900px;
}
h2{
    color: brown;
    margin: 30px 50px ;
    text-align: center;
    background-color: bisque;
    border-radius: 10px;
}

p{
    font-size: 18px;
    margin: 10px 50px;
    font-weight: bold;
}

#ds_donhang{
    width: 90%;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 30px 50px;
}
#ds_donhang th{
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    font-size: 15px;
    background-color: orange;
}

#ds_donhang td{
    text-align: center;
    border: 1px solid black;
    padding: 8px;
}

