*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: gray;
 
}
form{    
    background-color: #f0f5f8;
    margin: 20px 250px;
    padding: 5px 30px;
    border-radius: 20px;
}
#Back{   
    display: inline-block;
    color:black;
    text-decoration: none;   
    padding: 5px 30px;
    margin-left: 750px;
    font-size: 20px;
}

#Back:hover{
    color: rgb(241, 152, 35);
}
h2{
    text-align: center;
    color: brown;
    background-color: bisque;
    margin: 20px 30px 30px 43px;
    padding: 10px 0px;
    border-radius: 15px;
}

label{
    margin: 0px 70px;
    font-weight: bold;
    width: 100%;
}

input, #MoTa{
    border: none;
    border-bottom: 2px solid saddlebrown;
    border-radius: 15px;
    background-color: bisque;
    padding: 10px 10px;
    margin: 20px 70px;
    width: 85%;
    font-weight: 600;
    color: brown;
}
#MoTa{
    height: 70px;
    font-weight: 800;
}
#Add, #Edit{
    text-align: center;
    color:black;
    margin: 10px 295px;
    background-color: darkturquoise;
    width: 30%;
    display: inline-block;
}